/*
	game.css
	Tyler Roland
	Modified 11/21/17
	Tic Tac Toe style sheet
*/

/* -- Imported fonts -- */

@font-face {
	font-family: VarelaRound;
	src: url(fonts/VarelaRound.ttf);
}

/* -- General styles -- */

body {
	background: #f8f8f8;
	color: #444;
	font-family: VarelaRound, sans-serif;
	margin: 0 auto -1px;
	width: 100%; 
}

header {
	background-color: #4070b8;
	color: white;
	padding: 10px;
	text-align: left;
}

header h1 {
	font-size: 30px;
}


h1, h2, h4 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

h4 {
	font-size: 2em; 
}

hr {
	margin: 5px 0;
}

footer {
	padding: 10px;
	text-align: center;
	width: 100%;
}

#gamespace {
	margin: 0;
	padding: 20px 0 50px; 
}


#diff, #play, #gameboard {
	display: none;
}

#gameboard, #play {
	margin: auto; 
	text-align: center;
}

.controls {
	margin: 40px auto;
	text-align: center;
}

.game {
	display: inline-block; 
	margin: 30px;
	vertical-align: top;
}

table {
	border-collapse: collapse; 
	margin: auto;
}

td {
	cursor: pointer;
	height: 80px;
	width: 80px; 
}

td img {
	height: 80px;
	width: 80px;
}

.even {
	background-color: #494949;
}

.odd {
	background-color: black;
}


button {
	background-color: #fff;
	border:0;  
	box-shadow: 2px 2px 2px #222; 
	color: #222;
	cursor: pointer;
	font-family: VarelaRound, sans-serif;
	margin-top: 5px;   
	min-height: 30px; 
	min-width: 50px;  
	padding: 5px 10px;
}

button:hover {
	background-color: #ccc;
}


/* -- Scoreboard -- */

#scoreboard {
	background-color: #4070b8; 
	color: white;
	font-size: 20px;
	padding-top: 5px;
	text-align: center;
	width: 240px;
}

#scoreList {
	background-color: #222; 
	padding: 10px;
	text-align: left;
}

#result { 
	font-size: 45px; 
	padding: 20px 0;
	text-align: center;
}


/* -- Responsiveness -- */

@media screen and (min-width: 900px) {
	td, td img {
		height: 120px;
		width: 120px;
	}

	#scoreboard {
		width: 260px;
	}
}

@media screen and (min-width: 604px) {
	div#scoreboard {
		margin-top: 85px;
	}
}

@media screen and (max-width: 1420px) {
	#result {
		font-size: 30px;
	}
	
	.game {
		margin: 30px 30px 0;
	}
}

@media screen and (max-width: 425px) {
	#result {
		font-size: 25px;
	}
}