/*
	game.css
	Tyler Roland
	Modified 11/21/17
	Tic Tac Toe style sheet
*/

/* -- General styles -- */

body {
	background: #f8f8f8;
	color: #444;
	font-family: 'Lato', sans-serif;
}

.hide {
	display: none !important;
}



h1, h2, h4 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
	margin-top: 20px;
	color: #40b8a2;
	font-weight: 700;
}

h2 {
	font-size: 1.7rem;
	font-weight: 700;
	margin-bottom: 10px;
}

h4 {
	font-size: 2em; 
}

hr {
	margin: 5px 0;
}

footer {
	padding: 10px;
	text-align: center;
	width: 100%;
}

#gamespace {
	margin: 0;
	padding: 20px 0; 
}


#gameboard, #play {
	margin: 20px auto; 
	text-align: center;
}

#game {
	position: relative;
}

.controls {
	margin: 40px auto;
	text-align: center;
}

#letter, #diff {
	display: inline-block;
	margin: 20px;
}

.game {
	display: inline-block; 
	margin: 30px;
	vertical-align: top;
}

table {
	border-collapse: collapse; 
	margin: auto;
}

td {
	cursor: pointer;
	height: 80px;
	width: 80px; 
}

td img {
	height: 75px;
	width: 75px;
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
	background-color: black;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
	background-color: #494949;
}


button {
	background-color: #40b8a2;
	border:0;  
	border-radius: 4px;
	box-shadow: 2px 2px 2px #666; 
	color: #fff;
	cursor: pointer;
	font-family: VarelaRound, sans-serif;
	margin: 5px;   
	min-height: 30px; 
	min-width: 50px;  
	padding: 5px 10px;
}

button.active {
	background-color: #3d6a62;
}

button:hover {
	background-color: #3d6a62;
}

#howtoplay {
	margin: 20px auto;
}


/* -- Scoreboard -- */

#scoreboard {
	background-color: #4070b8f3; 
	color: white;
	font-size: 20px;
	padding-top: 5px;
	text-align: center;
	width: 240px;
	height: 240px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
}

#scoreList {
	background-color: rgba(0,0,0,0.7); 
	padding: 10px;
	text-align: left;
	height: 100%;
}

#result { 
	font-size: 30px; 
	padding: 10px 0;
	text-align: center;
	color: white;
}


/* -- Responsiveness -- */

@media screen and (min-width: 900px) {
	td {
		height: 120px;
		width: 120px;
	}
	td img {
		height: 115px;
		width: 115px;
	}

	#scoreboard {
		width: 360px;
		height: 360px;
	}
}

@media screen and (max-width: 1420px) {
	#result {
		font-size: 30px;
	}
	
	.game {
		margin: 30px 30px 0;
	}
}

@media screen and (max-width: 425px) {
	#result {
		font-size: 25px;
	}
}